.navMenu {
    background-color: #6D6D6D;;
    height: 5vh;

}
.navMenu::after {
    content: '';
    display: block;
    clear: both;
}

.navMenu ul {
    list-style: none;
    text-align: left;
    display: flex;
}

.navMenu ul li a:hover {
    font-weight: bold;
    font-size: 18px;
    color: red;
}

#inicio {
    height: 70vh;
    background-color: greenyellow;
    border: 1px solid red;
}

#cursos {
    height: 90vh;
    background-color: hotpink;
    border: 1px solid black;
}

#contatos {
    height: 60vh;
    background-color: orange;
}

#parceiros {
    height: 40vh;
    background-color: thistle;
    border: 1px solid green;
}

#missao {
    height: 90vh;
    background-color: teal;
    border: 1px solid yellow;
}

#sobre {
    height: 10vh;
    background-color: seashell;
    border: 1px solid red;
}